language: php

php:
  - 5.6

before_script:
  - composer self-update || echo "[ERROR] update-composer failed!"
  - composer install --no-interaction --optimize-autoloader

script:
  - ./vendor/bin/tester -s -j 32 -c ./tests/php.ini ./tests --coverage coverage.xml --coverage-src src
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.xml
